{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from"
  ]
}
